<div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between pb-0">
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">Uso do solo</h5>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex flex-column align-items-center gap-1">
            <h2 class="my-2" id="usoSoloTotalText"></h2>
            <span class="text-center">Solo total usado<br>em hectares</span>
          </div>
          <div id="usoSoloChart"></div>
        </div>
      </div>
    </div>
  </div>