{% load static %}

<div class="col-3 mb-4" style="min-width: fit-content;">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-start justify-content-between">
        <div class="avatar flex-shrink-0">
          <i class="atalho-icon tf-icons bx bx-area"></i>
        </div>
      </div>
      <span class="fw-semibold d-block mb-1">Área total em hectares <br> (do total de Fazendas)</span>
      <h3 class="card-title text-nowrap mb-1" id="totalFazendasHectares"></h3>
    </div>
  </div>
</div>